<form>
  <div class="input-group">
    <app-user-input
      [title]="'INITIAL INVESTMENT'"
      [name]="'initial_investment'"
      [(data)]="investimentData().initialInvestment"
    />
    <app-user-input
      [title]="'ANNUAL INVESTMENT'"
      [name]="'annual_investment'"
      [(data)]="investimentData().annualInvestment"
    />
  </div>
  <div class="input-group">
    <app-user-input
      [title]="'EXPECTED RETURN'"
      [name]="'expected_return'"
      [(data)]="investimentData().expectedReturn"
    />
    <app-user-input
      [title]="'DURATION'"
      [name]="'duration'"
      [(data)]="investimentData().duration"
    />
  </div>
  <p>
    <button type="submit" (click)="calculate()">CALCULATE</button>
  </p>
</form>
